body{font:12px verdana,sans-serif;text-align:center; padding: 0 0; margin: 0 0; background-color:#EEE;}
div#content{
  padding-top:120px; text-align:left; padding-left: 30px; padding-right: 30px;
}
div#content:before {
  content: " ";
  position: fixed;
  top: 90;
  left: 0;
  bottom: 0;
  right: 0;
  height:5px;
  background: linear-gradient(rgba(3, 3, 3, 0.5) 0%, rgba(4, 4, 4, 0) 100%);
}

ul#minitabs{position: absolute; list-style:none; margin: 30px; padding: 0; white-space: nowrap;font-size:175%;}
ul#minitabs li{display: inline;margin: 0 3px}
ul#minitabs a{text-decoration: none;padding: 0 0 1px; text-transform: uppercase;color: #AAA;font-family:verdana;}
ul#minitabs a#current{color: rgb(13, 253, 13);}
ul#minitabs a#current::before{content: "> ";}
ul#minitabs a:hover{color: #EEE;}
div#minitabs {
  display: block;
  height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(rgba(3, 3, 3, 0.5) 0%, rgba(4, 4, 4, 0) 10%, rgba(4, 4, 4, 0) 90%, rgba(3, 3, 3, 0.5) 100%), linear-gradient(90deg, #333 0%, #444 1%, #444 99%, #333 100%);
}
div#minitabs::before {
  content: " ";
  position: absolute;
  height: 90px; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 0%, rgba(0, 0, 0, 0.5) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

/* Phones */
@media only screen and (max-width: 650px) {
  div#home_col1{ margin-right: 0px; }
  div#home_col2{ display:none; }
}

/* Other */
@media only screen and (min-width: 650px) {
  div#home_col1{float: left; margin-right: 310px;}
  div#home_col2{float: left; width: 280px; margin-top:10px; margin-left:-280px; }
}

img#screenshot { border: 1px solid #ddd; }

table#software_table {font:12px verdana,sans-serif;width:100%;}
table#software_table td#col1 { width:400px;padding:15px;vertical-align:center;text-align:center;font:12px verdana,sans-serif}
table#software_table td#col2 { width:100%;padding:15px;vertical-align:top;text-align:left;}

div#box {
  float: left;
    border: 1px solid #555;
    padding: 10px;
    width: 250px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    color: #EEE;
    background-color: #555;
}
div#box div#title {
  text-transform: uppercase;color: #CCC; padding-bottom: 10px; font-size: 14px;
}
div#box div#platform {
  color: #AAA
}
div#box div#language {
  color: #AAA; padding-bottom: 20px;
}

div#item {
  display: inline-block;
  margin: 20px 30px;
}

.button {
  width: inherit;
	background-color:transparent;
	border:1px solid #CCC;
	display:inline-block;
	cursor:pointer;
	color:#FFF;
	font-family:Arial;
	font-size:14px;
  font-weight:bold;
  padding:5px -30px;
  text-decoration:none;
  text-transform: capitalize;
}
.button:hover {
  background-color:#CCC;
  color:#555;
}
.button:active {
	position:relative;
	top:1px;
}
