body{font:12px verdana,sans-serif;text-align:center;min-width:600px; padding: 0 0; margin: 0 0;}
div#content{
  margin:0 auto;margin-top:100px;padding-left:30px;text-align:left;
}
div#content:before {
  content: " ";
  position: fixed;
  top: 90;
  left: 0;
  bottom: 0;
  right: 0;
  height:5px;
  background: linear-gradient(rgba(3, 3, 3, 0.5) 0%, rgba(4, 4, 4, 0) 100%);
}

ul#minitabs{position: absolute; list-style:none; margin: 30px; padding: 0; white-space: nowrap;font-size:175%;}
ul#minitabs li{display: inline;margin: 0 3px}
ul#minitabs a{text-decoration: none;padding: 0 0 1px; text-transform: uppercase;color: #AAA;font-family:verdana;}
ul#minitabs a#current{color: rgb(13, 253, 13);}
ul#minitabs a#current::before{content: "> ";}
ul#minitabs a:hover{color: #EEE;}
div#minitabs {
  display: block;
  height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(rgba(3, 3, 3, 0.5) 0%, rgba(4, 4, 4, 0) 10%, rgba(4, 4, 4, 0) 90%, rgba(3, 3, 3, 0.5) 100%), linear-gradient(90deg, #333 0%, #444 1%, #444 99%, #333 100%);
}
div#minitabs::before {
  content: " ";
  position: absolute;
  height: 90px; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 0%, rgba(0, 0, 0, 0.5) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

div#home_content{float: left;width: 100%;}
div#home_col1{margin-right: 310px;}
div#home_col2{float: left;width: 280px;margin-left:-290px; }
div#home_col2 div#content {padding-top:20px;text-align:right;}

img#screenshot { border: 1px solid #ddd; }

table#software_toc {width:80%;padding:12px 0;}
table#software_toc th{font:14px verdana,sans-serif;font-weight:bold;background-color:#C0C0C0;}
table#software_toc td {font:12px verdana,sans-serif;width:50%;vertical-align:top;text-align:left;white-space:nowrap;}

table#software_table {font:12px verdana,sans-serif;width:100%;}
table#software_table td#col1 { width:400px;padding:15px;vertical-align:center;text-align:center;font:12px verdana,sans-serif}
table#software_table td#col2 { width:100%;padding:15px;vertical-align:top;text-align:left;}

table#versions {width:100%;}
table#versions td {font:12px verdana,sans-serif;width:33%;text-align:center;white-space:nowrap;padding:10px;}

table#code_toc {width:80%;padding:12px 0;}
table#code_toc th{font:14px verdana,sans-serif;font-weight:bold;background-color:#C0C0C0;}
table#code_toc td {font:12px verdana,sans-serif;width:33%;vertical-align:top;text-align:left;white-space:nowrap;}

table#code_table {font:12px verdana,sans-serif;width:100%;}
table#code_table td#col1 { width:400px;padding:15px;vertical-align:center;text-align:center;font:12px verdana,sans-serif}
table#code_table td#col2 { width:100%;padding:15px;vertical-align:top;text-align:left;}
