---
section: code
---
{% include header.html %}
<p><h1>ArcTool</h1></p>
<p>This was my largest program for the Amiga.  It was written in straight 68000 assembly language and was basically a graphical frontend to archivers that hid the user from all those cryptic commandline switches.  It featured a simple scripting mechanism so that support could be added for newer achivers without the need for a new release.</p>
<p>Since it was written for Workbench 1.3 to ensure as many Amigas could run it, most of the GUI components had to be written from scratch.</p>
<p><a href="code/amiga/arctool/atoolv15.asm.txt">See the Source code</a>.  Unfortunately I don't have the readme available.</p></tr>
<p><br/></p>
<p align="center">
    <img src="code/amiga/arctool/arctool_lg.gif" alt="Arctool v2"/><br/>
    Early prototype of version 2
</p>
{% include footer.html %}