---
section: software
---
{% include header.html %}
<p><table id="software_table">
  <tr><td id="col1" valign="top"><img src="software/cardflasher/cardflasher.png" alt="CardFlasher"/><br/><br/><a href="software/cardflasher/CardFlasher099b.exe">Download the EXE</a></td>
    <td id="col2"><p><a name="cardflasher"></a><h1>CardFlasher</h1></p>
    <p>CardFlasher is a program that aims to teach foreign language such as Japanese via the use of electronic flashcards.  A small flashcard appears at the bottom-right of the screen at user-defined intervals.  On this card a symbol/character/word is displayed and a text field requests the user enter the equivalent character/word for the displayed symbol.  If the user repeatedly fails certain cards, then those card will be displayed more frequently.</p>
    <p>I wrote this freeware program in order to learn the Japanese syllabileries <i>Hiragana</i> and <i>Katakana</i> (collectively known as <i>Kana</i>), as well as <i>Kanji</i> (the large number of symbols that the Japanese inherited from China).  However, this program is completely configurable and can be used to teach the Greek alphabet for example.</p>
    <p><ul>
      <li>For MS Windows <u>NT/2000/XP</u>, you should simply enable East Asian language support via the control panel regional settings.</li>
    <li>For MS Windows <u>95/98/Me</u>, you can add enable East Asian language support by installing <a HREF="software/cardflasher/JpnSupp.exe">this</a> file from Microsoft.</li>
  </ul></p>
  <p>The application proved to be quite popular and I had people contacting me to let me know that entire classrooms at their school were using it.  I was also approached by a publishing company in Japan, but we never ended up coming to any deal sadly.</p>
  <p>The latest version of CardFlasher is 0.99beta.  Please note that this is now unsupported software, but if I get enough requests I might consider dusting it off.</p></td></tr></table></p>
{% include footer.html %}