---
section: code
---
{% include header.html %}
  <p><div align="center">
  <p>On this page I will list some code I have written over the years.</p>
  <p>There's plenty more, and I am starting with the more vintage as that's what is at most risk of being lost forever and will slowly start adding more modern code here.  Also, while the older code may not be as relevant today, it demonstrates fundamentals which I am proud of.</p>
  <p>
    <div id="item">
      <div id="box">
        <div id="title">ArcTool</div>
        <div id="platform">Commodore Amiga</div>
        <div id="language">Motorolla 68000 assembler</div>
        <a href="arctool.html" class="button">View</a>
      </div>
    </div>

    <div id="item">
      <div id="box">
        <div id="title">MegaView</div>
        <div id="platform">Commodore Amiga</div>
        <div id="language">Motorolla 68000 assembler</div>
        <a href="megaview.html" class="button">View</a>
      </div>
    </div>

    <div id="item">
      <div id="box">
        <div id="title">Sinus Scroller</div>
        <div id="platform">IBM PC 286+, VGA</div>
        <div id="language">Intel 80286 assembler</div>
        <a href="sinus.html" class="button">View</a>
      </div>
    </div>

    <div id="item">
      <div id="box">
        <div id="title">WinG Graphics Class</div>
        <div id="platform">Windows 32-bit</div>
        <div id="language">C++/32-bit Intel assembler</div>
        <a href="wing.html" class="button">View</a>
      </div>
    </div>
 </p>
 <div>
  <p><h1>Other Miscellanous Code</h1></p>
  <p>Here's another sinus scroller, which I wrote in Java this time.  <a href="code/java/sinus/sinus.java.txt">See the code</a>, <a href="code/java/sinus/readme.html">Read the original documentation</a>, or <a href="code/java/sinus/demo.html">See it running</a>.</p>
</div>
{% include footer.html %}