---
section: home
---
{% include header.html %}
<div id="home_col1">
  <p>On this site you will find various code I have written for a number of systems over the years, like the Commodore Amiga, MS DOS, MS Windows, and the web, as well as mobile platforms such as Android.</p>
  <p>Currently you can view and download released software, as well as code I have written.</p>
</div>
<div id="home_col2">
  <a href='https://au.linkedin.com/in/tonymiceli?trk=profile-badge'><img src="images/li-badge.png" border="0"/></a>
</div>
{% include footer.html %}