---
section: software
---
{% include header.html %}
<p><table id="software_table">
    <tr><td id="col1" valign="top"><img src="software/kanjiup/logo.png" width="148" height="148" alt="CardFlasher"/><br/><br/><a href="software/kanjiup/kanji-up-pro-android-2.23.apk">Download the APK</a></td>
      <td id="col2"><p><a name="kanjiup"></a><h1>Kanji UP!</h1></p>
                    <p>Kanji UP! is an application that helps you learn to recall and write 2042 Japanese Kanji characters.  It currently supports the Heisig ordering (currently up to Vol 5) and method of study focusing on recall of the kanji based on meaning.</p>
                    <p>Features:</p>
                    <p>Study Mode:<br/>
                      <ul><li>Study Kanji by practicing them one by one.</li>
                        <li>Information displayed: meaning, strokes, readings.</li>
                        <li>You can enter a short story to help you remember them.</li>
                        <li>You can practice drawing the Kanji with the option to trace over an underlay of the correct Kanji.</li>
                      </ul></p>
                    <p>Quick Test Mode:<br/>
                      <ul><li>Quiz yourself on the Kanji which you have studied.</li>
                        <li>You are given an area to write your answer down, and can then compare your answer with the correct answer.</li>
                        <li>After answering, you can practice writing the Kanji to re-inforce the correct writing in case of mistakes. </li>
                      </ul></p>  
                    <p>Scheduled Test Mode:<br/>
                      <ul><li>When enabled, the application will automatically schedule quizzes for you based on past performance.</li>
                        <li>Based on proven spaced-repetition algorithms which schedules problemmatic sooner, to make the most efficient use of your time, and to keep your knowledge retention high.</li>
                      </ul></p>
                    <p>Study Reminders:<br/>
                      <ul><li>You can have the app remind you when it's time to study.  Never again forget to do some practice drills each day!</li></ul></p>
                    <p>Starred List:</br>
                      <ul><li>Add problematic Kanji to your starred list for later review with the tap of the star symbol.</li></ul></p>
                    <p>Stroke Orders:</br>
                      <ul><li>At any time a Kanji is displayed, you can tap on it to see stroke order animations.  Three speeds of animation are available under Settings.</li></ul></p>
                    <p>The latest version is 2.23.  It used to be published on the Play Store, but it wasn't worth updating the listing all the time Google changed their policies, so I took the app down and made it freely available here.</p></td></tr>
    <tr><td colspan="2" id="col2"><p><div align="center"><table>
                       <tr><td><img id="screenshot" src="software/kanjiup/kanji-up-1.png" width="144" height="256"/></td>
                           <td><img id="screenshot" src="software/kanjiup/kanji-up-2.png" width="144" height="256"/></td>
                           <td><img id="screenshot" src="software/kanjiup/kanji-up-3.png" width="144" height="256"/></td>
                           <td><img id="screenshot" src="software/kanjiup/kanji-up-4.png" width="144" height="256"/></td>
                           <td><img id="screenshot" src="software/kanjiup/kanji-up-5.png" width="144" height="256"/></td>
                           <td><img id="screenshot" src="software/kanjiup/kanji-up-6.png" width="144" height="256"/></td>
                           <td><img id="screenshot" src="software/kanjiup/kanji-up-7.png" width="144" height="256"/></td>
                           <td><img id="screenshot" src="software/kanjiup/kanji-up-8.png" width="144" height=""/></td></tr></table></div></p></td></tr></table></p>
{% include footer.html %}