---
section: code
---
{% include header.html %}
<p><h1>Sinus Scroller</h1></p>
<p>I originally wrote this little scroller at the request of a bulletin board operator.  It could be neatened up by recoding to take advantage of 32-bit instructions/registers, as I wanted to target the 286 (which was still very popular at the time).</p>
<p><a href="code/pc/sinus/sinus.asm.txt">See the code</a>.</p></tr>
<p><br/></p>
<p align="center"><img src="code/pc/sinus/sinus.gif" alt="Sinus Picture"><br/><small>Odd name for a BBS!</small></p>
{% include footer.html %}
