---
section: software
---
{% include header.html %}
  <p><div align="center">
    <p>Below are some software I have released over the years.</p><p>Most I have since unpublished as I didn't have time to keep them maintained so instead have uploaded for free for anyone who finds them useful</p>
    <p>
      <div id="item">
        <div id="box">
          <div id="title">Kanji UP!</div>
          <div id="platform">Android 2.3.3+</div>
          <div id="language">Java</div>
          <a href="kanji-up.html" class="button">View</a>
        </div>
      </div>
  
      <div id="item">
        <div id="box">
          <div id="title">CardFlasher</div>
          <div id="platform">Windows 95/98/Me/NT/2000/XP</div>
          <div id="language">C++/WTL</div>
          <a href="cardflasher.html" class="button">View</a>
        </div>
      </div>
  
      <div id="item">
        <div id="box">
          <div id="title">LingoLessons</div>
          <div id="platform">Web, Windows, OSX, others</div>
          <div id="language">Various, mainly C++</div>
          <a href="lingolessons.html" class="button">View</a>
        </div>
      </div>
    </p>
  </p>
{% include footer.html %}