---
section: code
---
{% include header.html %}
<p><h1>WinG Graphics Class</h1></p>
<p>This is a C++ class I wrote that provides a number of very highly optimised graphics primitives to be used under the Window WinG library (their precursor to DirectX).  I still have the original GameSDK somewhere.  The class will handle operations such as Blts and Line Drawing and shows how to use inline assembler in a C++ class and to minimise the overhead in making function calls.</p>
<p><br/></p>
<p><a href="code/pc/wing/gbitmap.h.txt">See the header</a>, <a href="code/pc/wing/gbitmap.cpp.txt">See the source</a>.</p>
{% include footer.html %}
