<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Anthony Miceli dot com - {{ page.section }}</title>
 <style type="text/css" media="all">@import "css/style.css";</style>
 <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
<div id="minitabs"><ul id="minitabs">
    {% include navitem.html file="index.html" name="home" %}
    {% include navitem.html file="software.html" name="software" %}
    {% include navitem.html file="code.html" name="code" %}
</ul></div>
<div id="content">